<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #04647C;">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">
            <img src="/assets/logo.png" class="float mx-2 " width="100" height="40" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="['home']"><i class="fas fa-home hvr-icon"></i> Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="session">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="['marcas']"><i class="fas fa-dumbbell hvr-icon"></i> Mis marcas</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="session">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="[ 'programa']"><i class="far fa-calendar-alt hvr-icon"></i> Programa</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="session">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="[ 'libreta'] "><i class="far fa-clipboard hvr-icon"></i> Libreta</a>
                </li>
            </ul>
            <span class="navbar-text ">
                <ng-container *ngIf="session; else elseBlock">
                    <a [routerLink]="['perfil']" >
                        <img src="https://picsum.photos/100/100" class="rounded float mx-2 hvr-grow-shadow" width="40" height="40" >
                    </a>
                    <button (click)="onLogout()" class="btn btn-outline-dark">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout
                    </button>
                </ng-container>
                <ng-template #elseBlock>
                    <button (click)="redirectToLogin() " class="btn btn-outline-primary ">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login
                    </button>
                </ng-template>              
            </span>
        </div>
    </div>
</nav>