<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #04647C;">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">
            <img src="/assets/logo.png" class="float mx-2 " width="100" height="40" >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="['home']"><i class="fas fa-home hvr-icon"></i> Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="['marcas']"><i class="fas fa-dumbbell hvr-icon"></i> Mis marcas</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="[ 'programa']"><i class="far fa-calendar-alt hvr-icon"></i> Programa</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link hvr-icon-pulse" [routerLink]="[ 'libreta'] "><i class="far fa-clipboard hvr-icon"></i> Libreta</a>
                </li>
            </ul>
            <span class="navbar-text ">

                <ng-container *ngIf="auth.user$ | async as profile; else loggedOut">
                    <a [routerLink]="['perfil']" >
                        <img src="{{ profile.picture }}" class="rounded float mx-2 hvr-grow-shadow" width="40" height="40" >
                    </a>
                    <button (click)="auth.logout({ returnTo: callback }) " class="btn btn-outline-danger">
                      Log out
                    </button>

                </ng-container>
              
                  <ng-template #loggedOut>
                    <button (click)="auth.loginWithRedirect() " class="btn btn-outline-primary ">Log in</button>
                  </ng-template>              




        </span>
        </div>
    </div>
</nav>