<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">Entrenamiento de fuerza</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['home']"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link" [routerLink]="['marcas']"><i class="fas fa-dumbbell"></i> Mis marcas</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link " [routerLink]="[ 'programa']"><i class="far fa-calendar-alt"></i> Programa</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link " [routerLink]="[ 'libreta'] "><i class="far fa-clipboard"></i> Libreta</a>
                </li>
            </ul>
            <span class="navbar-text ">

                <ng-container *ngIf="auth.user$ | async as profile; else loggedOut">
                    
                    <img src="{{ profile.picture }}" class="rounded float mx-2" width="40" height="40">
                    <button (click)="auth.logout({ returnTo: callback }) " class="btn btn-outline-danger">
                      Log out
                    </button>

                </ng-container>
              
                  <ng-template #loggedOut>
                    <button (click)="auth.loginWithRedirect() " class="btn btn-outline-primary ">Log in</button>
                  </ng-template>              




        </span>
        </div>
    </div>
</nav>