<div class="container-sm mt-2 animate__animated animate__fadeIn faster">
    <h1>{{programaCandito.titulo}}</h1>
    <hr>

    <mat-tab-group>
        <mat-tab *ngFor="let semana of programaCandito.semana, let i = index" label="Semana {{i+1}}">
            <h2 class="mt-4"><small>{{ semana.descripcion }}</small></h2>
            <div class="row row-cols-md-2 g-4">

                <div *ngFor="let dia of semana.dias" class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-header">{{ dia.fechaDia | date: 'EEEE, d MMMM y' }}</div>
                        <div class="card-body text-dark">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Serie 1</th>
                                        <th scope="col">Serie 2</th>
                                        <th scope="col">Serie 3</th>
                                        <th scope="col">Serie 4</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let ejercicio of dia.ejercicios">
                                        <ng-container *ngIf="ejercicio.nombreEjercicio != 'colspan5'">
                                            <th scope="row">{{ejercicio.nombreEjercicio}}</th>
                                            <td *ngFor="let pesoReps of ejercicio.pesoReps" [ngSwitch]="pesoReps.repeticiones">
                                                <div *ngSwitchCase="' MR'">
                                                    {{ pesoReps.peso }}
                                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones" placement="top">{{ pesoReps.repeticiones }}</span>
                                                </div>
                                                <div *ngSwitchCase="' MR10'">
                                                    {{ pesoReps.peso }}
                                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top">{{ pesoReps.repeticiones }}</span>
                                                </div>
                                                <div *ngSwitchDefault>
                                                    {{ pesoReps.peso }} {{ pesoReps.repeticiones }}
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="ejercicio.nombreEjercicio == 'colspan5'">
                                            <td *ngFor="let pesoReps of ejercicio.pesoReps" colspan="5" [ngSwitch]="pesoReps.repeticiones">
                                                <div *ngSwitchCase="'info1'">
                                                    Añade {{ pesoReps.peso }} y realiza 5 series x 3 repeticiones cada serie, con 60 segundos de descanso entre series.
                                                    (Si no has podido realizar un mínimo de 8 repeticiones en la 
                                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top">MR10</span>
                                                    , baja {{ pesoReps.peso }} en lugar de incrementar el peso).
                                                </div>
                                                <div *ngSwitchCase="'info2'">
                                                    Reduce {{ pesoReps.peso }} y realiza 10 series x 3 repeticiones cada serie, con 60 segundos de descanso entre series.
                                                    (Si no has podido realizar un mínimo de 8 repeticiones en la 
                                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top">MR10</span>
                                                    , realiza 8 series en lugar de 10).
                                                </div>
                                            </td>
                                        </ng-container>

                                    </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
