<div class="tab-pane fade show active" id="semana1" role="tabpanel" aria-labelledby="home-tab">

    <h4 class="my-4"><small>Hipertrofia muscular</small></h4>
    <div class="row row-cols-md-2 g-4">
        <div class="col">
            <div class="card border-dark">
                <div class="card-header">{{ sumarDias(marcas.fechaInicio, 7) | date: 'EEEE, d MMMM y' }}</div>
                <div class="card-body text-dark">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Serie 1</th>
                                <th scope="col">Serie 2</th>
                                <th scope="col">Serie 3</th>
                                <th scope="col">Serie 4</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">Sentadilla</th>
                                <td>{{ marcas.sentadilla | calculoPeso: 80 }} x
                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top"> MR10</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <i>
                                        Añade {{ marcas.sentadilla | calculoPeso: 5 }} y realiza 5 series x 3 repeticiones cada serie, con 60 segundos de descanso entre series.
                                        (Si no has podido realizar un mínimo de 8 repeticiones en la 
                                        <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top"> MR10</span>
                                        , baja {{ marcas.sentadilla | calculoPeso: 5 }} en lugar de incrementar el peso).
                                    </i>
                                </td>
                            </tr>  
                            <tr>
                                <th scope="row">Variación de peso muerto</th>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 1</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 2</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-dark">
                <div class="card-header">{{ sumarDias(marcas.fechaInicio, 1) | date: 'EEEE, d MMMM y' }}</div>
                <div class="card-body text-dark">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Serie 1</th>
                                <th scope="col">Serie 2</th>
                                <th scope="col">Serie 3</th>
                                <th scope="col">Serie 4</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">Press banca</th>
                                <td>{{ marcas.pressBanca | calculoPeso: 72 }} x 10</td>
                                <td>{{ marcas.pressBanca | calculoPeso: 77 }} x 8</td>
                                <td>{{ marcas.pressBanca | calculoPeso: 80 }} x 6 - 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.espalda1 }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.ejercicioHombro }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.espalda2 }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 1</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 2</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-dark">
                <div class="card-header">{{ sumarDias(marcas.fechaInicio, 3) | date: 'EEEE, d MMMM y' }}</div>
                <div class="card-body text-dark">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Serie 1</th>
                                <th scope="col">Serie 2</th>
                                <th scope="col">Serie 3</th>
                                <th scope="col">Serie 4</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">Sentadilla</th>
                                <td>{{ marcas.sentadilla | calculoPeso: 80 + 2.5}} x
                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top"> MR10</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <i>
                                        Reduce {{ marcas.sentadilla | calculoPeso: 5 }} y realiza 10 series x 3 repeticiones cada serie, con 60 segundos de descanso entre series.
                                        (Si no has podido realizar un mínimo de 8 repeticiones en la 
                                        <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones, pero no más de 10" placement="top"> MR10</span>
                                        , realiza 8 series en lugar de 10).
                                    </i>
                                </td>
                            </tr>  
                            <tr>
                                <th scope="row">Variación de peso muerto</th>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 1</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 2</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-dark">
                <div class="card-header">{{ sumarDias(marcas.fechaInicio, 4) | date: 'EEEE, d MMMM y' }}</div>
                <div class="card-body text-dark">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Serie 1</th>
                                <th scope="col">Serie 2</th>
                                <th scope="col">Serie 3</th>
                                <th scope="col">Serie 4</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">Press banca</th>
                                <td>{{ marcas.pressBanca | calculoPeso: 72 }} x 10</td>
                                <td>{{ marcas.pressBanca | calculoPeso: 77 }} x 8</td>
                                <td>{{ marcas.pressBanca | calculoPeso: 80 }} x 6 - 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.espalda1 }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.ejercicioHombro }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.espalda2 }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 1</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 2</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card border-dark">
                <div class="card-header">{{ sumarDias(marcas.fechaInicio, 6) | date: 'EEEE, d MMMM y' }}</div>
                <div class="card-body text-dark">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Serie 1</th>
                                <th scope="col">Serie 2</th>
                                <th scope="col">Serie 3</th>
                                <th scope="col">Serie 4</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="row">Press banca</th>
                                <td>
                                    {{ marcas.pressBanca | calculoPeso: 80 }} x 
                                    <span class="badge rounded-pill bg-info text-dark" tooltip="Máximas repeticiones" placement="top">MR</span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.espalda1 }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 8</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.ejercicioHombro }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">{{ marcas.espalda2 }}</th>
                                <td>x 10</td>
                                <td>x 8</td>
                                <td>x 6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 1</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Ejercicio opcional 2</th>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td>x 8 - 12</td>
                                <td></td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>