<div class="form-group row mt-3">
    <h1>Libreta </h1>
    <hr>
</div>

<div class="row form-floating mt-4" *ngFor="let nota of notas, let i = index">




          <div class="col-10">
            <textarea class="form-control" placeholder="Escribe un comentario" >{{ nota }}</textarea>
          </div>
          <div class="col mt-4">
            <a class="fas fa-trash-alt fa-lg" style="color:red" href="javascript:void(0);" (click)="eliminarNota(i)"></a>
          </div>



</div>








<button type="button" class="btn btn-primary center mt-3" (click)="nuevaNota()"><i class="fas fa-plus fa-2x"></i></button>