<div class="form-group row mt-3">
    <h1>Libreta </h1>
    <hr>
</div>

<div class="form-floating mt-2">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Notas:</label>
</div>

<div class="form-floating mt-2">
    <textarea disabled class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Notas:</label>
</div>

<button type="button" class="btn btn-primary center mt-3"><i class="fas fa-plus fa-2x"></i></button>