<div class="form-group row mt-3">
    <h4>Mejor marca </h4>
    <hr>
</div>

<form autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">

    <div class="form-group row">
        <label class="col-2 col-form-label text">Sentadilla</label>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group mb-1">
                    <input  class="form-control" 
                            type="number" 
                            placeholder="0" 
                            [class.is-invalid]="sentadilla.invalid && sentadilla.touched"
                            required 
                            name="sentadilla" 
                            [ngModel]="marcas.sentadilla" 
                            #sentadilla="ngModel">
                    <span class="input-group-text">Kg</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label text">Press banca</label>
        <div class="col-auto">
            <div class="input-group mb-1">
                <input  class="form-control" 
                        type="number" 
                        placeholder="0" 
                        [class.is-invalid]="pressBanca.invalid && pressBanca.touched"
                        required 
                        name="pressBanca" 
                        [ngModel]="marcas.pressBanca" 
                        #pressBanca="ngModel">
                <span class="input-group-text">Kg</span>
            </div>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label text">Peso muerto</label>
        <div class="col-auto">
            <div class="input-group mb-1">
                <input  class="form-control" 
                        type="number" 
                        placeholder="0" 
                        [class.is-invalid]="pesoMuerto.invalid && pesoMuerto.touched"
                        required 
                        name="pesoMuerto" 
                        [ngModel]="marcas.pesoMuerto" 
                        #pesoMuerto="ngModel">
                <span class="input-group-text">Kg</span>
            </div>
        </div>
    </div>

    <div class="form-group row mt-5">
        <h4>Configuración del programa </h4>
        <hr>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label text">Ejercicio de hombro</label>
        <div class="col-auto">
            <div class="input-group mb-1">
                <select class="form-select" 
                        aria-label="Default select example" 
                        name="ejercicioHombro"
                        required
                        [class.is-invalid]="ejercicioHombro.invalid && ejercicioHombro.touched"
                        [ngModel]="marcas.ejercicioHombro" 
                        #ejercicioHombro="ngModel">
                    <option value="Press militar">Press Militar</option>
                    <option value="Press mancuerna de pie">Press mancuerna de pie</option>
                    <option value="Press mancuerna sentado">Press mancuerna sentado</option>
                    <option value="Elevación lateral de mancuerna">Elevación lateral de mancuerna</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label text">Ejercicio espalda 1</label>
        <div class="col-auto">
            <div class="input-group mb-1">
                <select class="form-select" 
                        aria-label="Default select example" 
                        name="espalda1"
                        required
                        [class.is-invalid]="espalda1.invalid && espalda1.touched"
                        [ngModel]="marcas.espalda1"
                        #espalda1="ngModel">
                    <option value="Remo con mancuera">Remo con mancuera</option>
                    <option value="Remo con barra">Remo con barra</option>
                    <option value="Remo en máquina">Remo en máquina</option>
                    </select>
            </div>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label text">Ejercicio espalda 2</label>
        <div class="col-auto">
            <div class="input-group mb-1">
                <select class="form-select" 
                        aria-label="Default select example" 
                        name="espalda2"
                        required
                        [class.is-invalid]="espalda2.invalid && espalda2.touched"
                        [ngModel]="marcas.espalda2"
                        #espalda2="ngModel">
                    <option value="Dominadas lastradas">Dominadas lastradas</option>
                    <option value="Dominadas agarre inverso">Dominadas agarre inverso</option>
                    <option value="Jalón al pecho">Jalón al pecho</option>
                    </select>
            </div>
        </div>
    </div>

    <div class="form-group row mt-2">
        <label class="col-2 col-form-label text">Fecha de inicio</label>
        <div class="col-auto">
            <div class="input-group mb-1">
                <input  type="date"
                        class="form-control" 
                        aria-label="Default select example" 
                        name="fechaInicio"
                        required
                        [class.is-invalid]="fechaInicio.invalid && fechaInicio.touched"
                        [ngModel]="marcas.fechaInicio | date:'yyyy-MM-dd'"
                        #fechaInicio="ngModel">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
    </button>
        </div>
    </div>

</form>
